@page
@model DSV.Pages.BookingPageModel
@{
}

<h1>@Model.RoomName</h1>

<form method="post">
    <label for="name">Navn:</label>
    <input asp-for="Name" type="text" id="name" name="Name" required />

    <label for="date">Dato:</label>
    <input asp-for="Date" type="date" id="date" name="Date" required />

    <label for="time">Tid:</label>
    <input asp-for="Time" type="time" id="time" name="Time" required />


    <button type="submit" class="btn btn-primary" asp-page-handler="ConfirmBooking">Book</button>
</form>

@if (!string.IsNullOrEmpty(Model.ConfirmationMessage))
{
    <div class="alert alert-success">
        @Model.ConfirmationMessage
    </div>
}
